

/ConsoleApp1/bin
/ConsoleApp1/obj

/Recruit/bin
/Recruit/obj

/Recruit.BusinessAccessLayer/bin
/Recruit.BusinessAccessLayer/obj

/Recruit.DataAccessLayer/bin
/Recruit.DataAccessLayer/obj

/Recruit.Models/bin
/Recruit.Models/obj

/Testing/bin
/Testing/obj

/logs
/.vs