
@model List<InterviewDetail>
@using Kendo.Mvc.UI;
<h1 align="center"style="color: white;">Interview Details</h1>
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Title("ID").Filterable(ftb => ftb.Multi(true).Search(true)).Width(80);
        columns.Bound(p => p.first_name).Title("Candidate Name").Filterable(ftb => ftb.Multi(true).Search(true)).Width(200);
        columns.Bound(p => p.start_date_time).Title("Start Time & Date").Width(400);
        columns.Bound(p => p.end_date_time).Title("End Time & Date").Width(400);
        columns.Bound(p => p.status).Title("Status").Filterable(ftb => ftb.Multi(true).Search(true)).Width(100);
        columns.Bound(p => p.reason).Title("Reason").Width(400);
        columns.Template(
                             "<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='" +
                                 Url.Action("InsertInterviewDetails", "Home") +
                               "/#=id#'" +
                             ">Edit</a>"
                         ).Width(200);
    })
      .ToolBar(toolbar => toolbar.ClientTemplate("<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='InsertInterviewDetails/'></span>Add Interview Details</a>"))
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(
     pageable => pageable
         .Input(true)
         .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr=>scr.Height(430))
    .Filterable()
   
)
