@model List<tbl_process_statuses>

@{
    ViewBag.Title = "Process Status";
}

@*@{
        var data = ViewBag.Message;
    }*@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/layoutstyles.css">
    <link rel="stylesheet" href="~/css/tablestyles.css">
</head>
<body>
    <h2>Process Status</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Colour</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
        {
                <tr>
                    <td>@data.id</td>
                    <td>@data.code</td>
                    <td>@data.status</td>
                    <td>@data.colour</td>

                </tr>
        }
            </tbody>
               

              
        </table>
        </div>
        <div>
            <a asp-action="Index">Back to Dashboard</a>
        </div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
</body>
</html>