

@model IEnumerable<Recruit.Models.ProcessStatus>
@using Kendo.Mvc.UI
<h1 align="center"style="color: white;">Process Status Details</h1>


    @(Html.Kendo().Grid(Model)
    .Name("StatusGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Title("ID");
        columns.Bound(p => p.code).Title("code").Width(130);
        columns.Bound(p => p.status).Title("Status");
        columns.Bound(p => p.colour).Title("colour").Width(130);
        columns.Template(
                           "<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='" +
                               Url.Action("InsertProcessStatus", "Home") +
                             "/#=id#'" +
                           ">Edit</a>"
                       );
    })
    .ToolBar(toolbar => toolbar.ClientTemplate("<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='InsertProcessStatus/'></span>Add Process Status</a>"))
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(
     pageable => pageable
         .Input(true)
         .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr=>scr.Height(430))
)
