
@model List<Candidate>


@using Kendo.Mvc.UI;
<h1 align="center"style="color: white;">Candidate Details</h1>
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Title("ID").Width(75).Locked(true).Lockable(false);
        columns.Bound(p => p.first_name).Title("First Name").Width(150).Locked(true);
        columns.Bound(p => p.last_name).Title("Last Name").Width(150);
        columns.Bound(p => p.email).Title("Email").Width(200);
        columns.Bound(p => p.phone).Title("Phone").Width(200);
        columns.Bound(p => p.source_name).Title("Source").Width(200);
        columns.Bound(p => p.emp_ref).Title("Referred By").Width(150);
        columns.Bound(p => p.total_experience).Title("Total Experience").Width(150);
        columns.Bound(p => p.relevant_experience).Title("Relevant Experience").Width(200);
        columns.Bound(p => p.current_employer).Title("Current Employer").Width(200);
        columns.Bound(p => p.current_designation).Title("Current Designation").Width(300);
        columns.Bound(p => p.position).Title("Position").Width(300);
        columns.Bound(p => p.current_ctc).Title("Current CTC").Width(200);
        columns.Bound(p => p.expected_ctc).Title("Expected CTC").Width(200);
        columns.Bound(p => p.reason_for_change).Title("Reason For Change").Width(300);
        columns.Bound(p => p.notice_period).Title("Notice Period").Width(200);
        columns.Bound(p => p.is_serving_notice).Title("Is Serving Notice").Width(200).Filterable(ftb => ftb.Multi(true).CheckAll(false));
        columns.Bound(p => p.last_working_day).Title("Last Working Day ").Width(400);
        columns.Bound(p => p.current_location).Title("Current Location").Width(200);
        columns.Bound(p => p.stage).Title("Process Stage").Width(200);
        columns.Bound(p => p.process_stage_date).Title("Process Stage Date").Width(400);
        columns.Bound(p => p.process_start_date).Title("Process Start Date").Width(400);
        columns.Bound(p => p.process_end_date).Title("Process End Date").Width(400);
        columns.Bound(p => p.status).Title("Interview Status").Width(200);
        columns.Bound(p => p.owner).Title("Resume Owner").Width(200);
        columns.Bound(p => p.remind).Title("Owner For Reminder").Width(300);
        columns.Bound(p => p.comments).Title("Comments").Width(300);
        columns.Bound(p => p.date_of_joining).Title("Date Of Joining").Width(400);
        columns.Bound(p => p.notes).Title("Notes").Width(300);
        columns.Bound(p => p.links_for_interview).Title("Links for Interview").Width(300);
        columns.Template(
                           "<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='" +
                               Url.Action("DisplaySpecificInterviewDetails", "Home") +
                             "/#=id#'" +
                           ">Details</a>"
                       ).Width(200).Title("Interview Details").Locked(false);
        columns.Template(
                           "<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='" +
                               Url.Action("InsertCandidates", "Home") +
                             "/#=id#'" +
                           ">Edit</a>"
                       ).Width(200).Locked(false);


    })
      .ToolBar(toolbar => toolbar.ClientTemplate("<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='InsertCandidates/'></span>Add Candidates</a>"))
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(
     pageable => pageable
         .Input(true)
         .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr=>scr.Height(430))
    .Filterable()
       .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))

)
