@model List<Location>

@{
    ViewData["Title"] = "Locations";
    // Layout = "~/Views/Home/CandidatesDetails.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/layoutstyles.css">
    <link rel="stylesheet" href="~/css/tablestyles.css">
</head>
<body>
    <h2>Locations Details</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>city</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td>
                            <a href="~/Home/InsertLocations/@data.id" class="btn btn-default" onclick="Update">@data.id </a>

                        </td>
                        @*<td>@data.id</td>*@
                        <td>@data.city</td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
    <div>
        <a asp-action="Index">Back to Dashboard</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    
    }
</body>
</html>