
@model List<Location>

@using Kendo.Mvc.UI;
<h1>Location Details</h1>
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Title("ID");
        columns.Bound(p => p.city).Title("City");
        columns.Template(
                          "<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='" +
                              Url.Action("InsertLocations", "Home") +
                            "/#=id#'" +
                          ">Edit</a>"
                      );

    })
    .ToolBar(toolbar => toolbar.ClientTemplate("<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='InsertLocations/'></span>Add Locations</a>"))
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(
     pageable => pageable
         .Input(true)
         .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr=>scr.Height(430))

//.DataSource(dataSource => dataSource
//    .Ajax()
//    .PageSize(20)
// .ServerOperation(false)
//)
)