@model List<ProcessStage>
@using Kendo.Mvc.UI;
@*@model IEnumerable<Recruit.Models.Vacancy>*@
<h1>Process Stage Details</h1>


@*@(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.id).Title("ID");
            columns.Bound(p => p.code).Title("Code");
            columns.Bound(p => p.stage).Title("Stage");

        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Pageable(
         pageable => pageable
             .Input(true)
             .Numeric(false)
         )
        .Sortable()
        .Scrollable(scr=>scr.Height(430))

        //.DataSource(dataSource => dataSource
        //    .Ajax()
        //    .PageSize(20)
        // .ServerOperation(false)
         //)
    )*@
@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Title("ID");
        columns.Bound(p => p.code).Title("Code");
        columns.Bound(p => p.stage).Title("Stage");
        columns.Command(command => { command.Edit();  }).Width(160);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("Error"))
       .Model(model => model.Id(p => p.id))
        .Create(update => update.Action("InsertProcessStages", "Home"))
        .Read(read => read.Action("DisplayProcessStages", "Home"))
        .Update(update => update.Action("InsertProcessStages", "Home",  new { id =0 }))
        .Destroy(update => update.Action("DisplayProcessStages", "Home"))
    )
)