@model List<tbl_process_stages>

@{
    ViewBag.Title = "Process Stages";
}

@*@{
        var data = ViewBag.Message;
    }*@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/layoutstyles.css">
    <link rel="stylesheet" href="~/css/tablestyles.css">
</head>
<body>
    <h2>Process Stages</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Stage</th>


                </tr>
            </thead>
               
            <tbody>
                @foreach (var data in Model)
            {
                <tr>
                    <td>@data.id</td>
                    <td>@data.code</td>
                    <td>@data.stage</td>


                </tr>
            }
            </tbody>
              
        </table>
    </div>
    <div>
        <a asp-action="Index">Back to Dashboard</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>