
@model List<ProcessStage>
@using Kendo.Mvc.UI;
<h1>Process Stage Details</h1>


@(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.id).Title("ID");
            columns.Bound(p => p.code).Title("Code");
            columns.Bound(p => p.stage).Title("Stage");
            columns.Template(
                           "<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='" +
                               Url.Action("InsertProcessStages", "Home") +
                             "/#=id#'" +
                           ">Edit</a>"
                       );
        })
         .ToolBar(toolbar => toolbar.ClientTemplate("<a class='k-button k-button-icontext' onclick='addMaterialPopup()' href='InsertProcessStages/'></span>Add Process Stages</a>"))
        .HtmlAttributes(new { style = "height: 550px;" })
        .Pageable(
         pageable => pageable
             .Input(true)
             .Numeric(false)
         )
        .Sortable()
        .Scrollable(scr=>scr.Height(430))

    )
