@using Kendo.Mvc.UI;
@model IEnumerable<Recruit.Models.Vacancy>
    <h1>Vacancy Details</h1>
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Title("ID");
        columns.Bound(p => p.code).Title("Code").Filterable(ftb => ftb.Multi(true).Search(true)).Width(300);
        columns.Bound(p => p.name).Title("Designation").Filterable(ftb => ftb.Multi(true).Search(true)).Width(300);
        columns.Bound(p => p.vacancy).Title("Vacancies");
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(
     pageable => pageable
         .Input(true)
         .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr=>scr.Height(430))
    .Filterable()
//.DataSource(dataSource => dataSource
//    .Ajax()
//    .PageSize(20)
// .ServerOperation(false)
//)
)