
@using Recruit.Models

@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <title>Application For Recruitment</title>
    @*<style>
            body {
                background-image: url('C:/Users/LENOVO/Downloads/bg.jpg');
            }
        </style>*@
   
<link rel="stylesheet" href="~/css/layoutstyles.css">
</head>

    <body>
        <h1>Application For Recruitment</h1>
    </body>
</html>
