@model Recruit.Models.ProcessStage

@{
    ViewData["Title"] = "InsertProcessStages";

}

@{
    if (ViewBag.SubmitValue == "Update")
    {
        <h1 align="center" style="color: white;">Update Process Stages Details</h1>
    }
    else
    {
        <h1 align="center" style="color: white;">Insert Process Stages Details</h1>
    }
}


<hr />
<link rel="stylesheet" href="~/css/layoutstyles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />
<style>
    .form-control {
        width: 80%;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertProcessStages">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="code" class="control-label">Code</label>
                <input asp-for="code" class="form-control" />
                <span asp-validation-for="code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stage" class="control-label">Stage</label>
                <input asp-for="stage" class="form-control" />
                <span asp-validation-for="stage" class="text-danger"></span>
            </div>

            @{
                if (ViewBag.SubmitValue == "Update")
                {
                    <div class="row">
                        <div class="column">
                            <input type="submit" value="Update" class="btn bg-primary" />

                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="column">
                            <input type="submit" value="Add" class="btn bg-primary" />

                        </div>
                    </div>
                }
            }
            <div>

                <a asp-action="DisplayProcessStages">Back to Display Process Stages</a>
            </div>
        </form>


        <div>
            <a asp-action="Index">Back to Dashboard</a>
        </div>
    </div>
    <div class="column">
        <partial name="_DisplayProcessStagesPartial" data=@TempData["stage"] />
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
    if (@TempData["Msg"] != null)
    {
        if (TempData["Msg"] == "Data save Successfully" || TempData["Msg"] == "Data Updated Successfully")
        {
            <script>

        UIkit.notification({ message: '@TempData["Msg"]', status: 'success', timeout: 5000 })
           window.location.href = "@Url.Action("DisplayProcessStages", "Home")";
            </script>
        }
        else
        {
            <script>

    UIkit.notification({ message: '@TempData["Msg"]', status: 'danger', timeout: 5000 })


            </script>
        }

    }
}
