@model Recruit.Models.ProcessStage

@{
    ViewData["Title"] = "InsertProcessStages";

}

<h1>Process Stages</h1>


<hr />
<link rel="stylesheet" href="~/css/layoutstyles.css">
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertProcessStages">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="code" class="control-label">Code</label>
                <input asp-for="code" class="form-control" />
                <span asp-validation-for="code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stage" class="control-label">Stage</label>
                <input asp-for="stage" class="form-control" />
                <span asp-validation-for="stage" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
    if (@TempData["Msg"] != null)
    {
        <script>

            alert('@TempData["msg"]')
        </script>

    }
} 