@model Recruit.Models.tbl_locations

@{
    ViewData["Title"] = "Update";
    //Layout = "~/Views/Home/CandidatesDetails.cshtml";
}

<h1>Update Locations</h1>


<hr />
<link rel="stylesheet" href="~/css/layoutstyles.css">
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateLocations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div>
                    <label asp-for="id" class="control-label">id</label>
                    <input asp-for="id" class="form-control" value=""/>
                    <span asp-validation-for="id" class="text-danger"></span>
                </div>
                <div>
                <label asp-for="city" class="control-label" >City</label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
                    </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
    if (@TempData["Msg"] != null)
    {
        <script>

            alert('@TempData["msg"]')
        </script>

    }
} 