@model InterviewDetail

    
        @{
            List<SelectListItem> statusId = new List<SelectListItem>();

            @foreach (var items in (IEnumerable<InterviewRoundStatus>)TempData["Data"])
            {
                statusId.Add(new SelectListItem
                {


                    Text = items.status,
                    Value = (items.id).ToString(),
                    //Selected = true

                });
            }
        }
<div class="column">
    <label class="control-label">Status</label><br />
    @Html.DropDownListFor(model => model.status_id, new SelectList(statusId, "Value", "Text"), "---Choose Status---")<br />

    <span asp-validation-for="status_id" class="text-danger"></span>
</div>