@model InterviewDetail


@{
    List<SelectListItem> statusList = new List<SelectListItem>();

    @foreach (var items in (IEnumerable<InterviewRoundStatus>)TempData["Data"])
    {
        statusList.Add(new SelectListItem
        {


            Text = items.status,
            Value = (items.id).ToString(),
            //Selected = true

        });
    }
}
<div class="column">
    <label class="control-label">Status</label><br />
    @Html.DropDownListFor(model => model.status_id, new SelectList(statusList, "Value", "Text"), "---Choose Status---")
    
    <br />

    <span asp-validation-for="status_id" class="text-danger"></span>
</div>