@model InterviewDetail
@{List<SelectListItem>
        stages = new List<SelectListItem>
            ();
    @foreach (var items in (IEnumerable<ProcessStage>)TempData["ProcessStages"])
    {
        stages.Add(new SelectListItem
        {


            Text = items.stage,
            Value = items.id.ToString(),
            Selected = true

        });
    }
}

    <label class="control-label">Interview stage </label>
    @Html.DropDownListFor(model => model.interview_stage_id, new SelectList(stages, "Value", "Text"), "---Choose Status---", new { @class = "form-control" })
    <span asp-validation-for="interview_stage_id" class="text-danger"></span>


