<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recruit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layoutstyles.css">

</head>
<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
        <button class="dropdown-btn">
            Insert
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertCandidates">Candidate Details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertInterviewDetails">Interview Details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertLocations">Locations</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertSources">Sources</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertVacancies">Vacancies</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertProcessStatus">Process Status</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertProcessStages">Process Stages</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertInterviewRoundStatuses">Interview Round Status</a>
        </div>
        <button class="dropdown-btn">
            Display
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayCandidatesDetails">Candidate details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayInterviewDetails">Interview details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayEmployees">Employee Details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayLocations">Locations</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayVacancies">Vacancies</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayProcessStatus">Process Statuses</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayProcessStages">Process Stages</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplaySources">Sources</a>

        </div>

    </div>
       
        
   
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark">
                                <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                                
                            </a>
                        </li>
                     
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Recruit - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdown-nav.js"></script>
    <script src="~/js/functions.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
