<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recruit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layoutstyles.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    

    @*  <title>@ViewData["Title"] - Recruit</title>*@

    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.flat.min.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.aspnetmvc.min.js"></script>

    @*      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/layoutstyles.css">
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@



</head>
<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
        <button class="dropdown-btn">
            Insert
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @*<a  class="nav-link " asp-area="" asp-controller="Candidate" asp-action="InsertCandidates" asp-route-id="0">Candidate Details-1</a>*@
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertCandidates" asp-route-id="0">Candidate Details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertInterviewDetails" asp-route-id="0">Interview Details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertLocations" asp-route-id="0">Locations</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertSources" asp-route-id="0">Sources</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertVacancies" asp-route-id="0">Vacancies</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertProcessStatus" asp-route-id="0">Process Status</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertProcessStages" asp-route-id="0">Process Stages</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="InsertInterviewRoundStatuses" asp-route-id="0">Interview Round Status</a>
        </div>
        <button class="dropdown-btn">
            Display
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayCandidatesDetails">Candidate details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayInterviewDetails">Interview details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayEmployees">Employee Details</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayLocations">Locations</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayVacancies">Vacancies</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayProcessStatus">Process Statuses</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplayProcessStages">Process Stages</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="DisplaySources">Sources</a>

        </div>

    </div>



    <header id="headerslide">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid p-0">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark">
                                <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                                

                            </a>
                        </li>

                    </ul>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
            </div>
        </nav>
    </header>

    <div class="container-fluid" id="contantslide">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footerslide">
        <div class="container">
            &copy; 2020 - Recruit - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdown-nav.js"></script>
    <script src="~/js/functions.js"></script>
   
    @*<script type="text/javascript" asp-append-version="true" src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>*@


    @RenderSection("Scripts", required: false)
</body>
</html>
