@model Candidate
@{
    List<SelectListItem> owners = new List<SelectListItem>
        ();
    @foreach (var items in (IEnumerable<Owner>)TempData["Owners"])
    {
        owners.Add(new SelectListItem
        {


            Text = items.first_name,
            Value = items.id.ToString(),
            Selected = true

        });
    }
}
<div class="column">
    <label class="control-label1">Resume Owner</label>
    @Html.DropDownListFor(model => model.resume_owner_id, new SelectList(owners, "Value", "Text"), "---Choose Status---", new { @class = "form-control" })
    <span asp-validation-for="resume_owner_id" class="text-danger"></span>
</div>
