@model Candidate
@{
    List<SelectListItem> sources = new List<SelectListItem>();
    @foreach (var items in (IEnumerable<Source>)TempData["Sources"])
    {
        sources.Add(new SelectListItem
        {


            Text = items.name,
            Value = items.id.ToString(),
            Selected = true

        });
    }
    }
    <div class="column">
        <label class="control-label">Source</label>
        @Html.DropDownListFor(model => model.source_code, new SelectList(sources, "Value", "Text"), "---Choose Sources---")<br />
        <span asp-validation-for="source_code" class="text-danger"></span>


    </div>